@font-face {
	font-family: "digital-7";
	src: url("digital-7-webfont.woff2") format("woff2"),
		url("digital-7-webfont.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

* {
	margin: 0;
	padding: 0;
}
nav {
	background-color: rgb(255, 142, 142);
	height: 60px;
	width: 100vw;
	top: 0px;
}
nav ul {
	float: left;
	position: absolute;
	top: 0px;
	left: 45%;
}

nav ul li {
	float: left;

	list-style: none;
}
nav ul li a {
	display: block;
	font-family: Arial;
	color: black;
	font-size: 14px;
	padding: 21px 14px;
	border-right: 2px solid black;

	text-decoration: none;
}
nav ul li a:hover {
	background-color: rgba(24, 24, 24, 0.55);
}

.dropbtn {
	background-color: #3498db;
	color: white;
	padding: 16px;
	font-size: 16px;
	border: none;
	cursor: pointer;
}
.dropbtn2 {
	background-color: #3498db;
	color: white;
	padding: 16px;
	font-size: 16px;
	border: none;
	cursor: pointer;
}
.dropbtn:hover,
.dropbtn:focus {
	background-color: #2980b9;
}
.dropbtn2:hover,
.dropbtn2:focus {
	background-color: #2980b9;
}

/* Positions of buttons */
div.unitA {
	position: absolute;
	top: 50%;
	margin-left: 20%;
}

div.unitB {
	position: absolute;
	top: 0px;
	left: 400px;
	width: 200px;
}
div.vienetai {
	position: absolute;
	bottom: 100px;
	left: -400px;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 160px;
	overflow: auto;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}
.dropdown-content2 {
	display: none;
	width: 290px;
	position: absolute;
	background-color: #f1f1f1;
	overflow: auto;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}
.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}
.dropdown-content2 a {
	color: black;
	padding: 16px 24px;
	text-decoration: none;
	float: left;
	justify-content: center;
	align-items: center;
	display: inline;
}
.unitA a:hover {
	background-color: #ddd;
}
.unitB a:hover {
	background-color: #ddd;
}
.show {
	display: block;
}
.show2 {
	display: inline;
}
.input {
	position: absolute;
	top: 10px;
	left: 120px;
}
textarea {
	resize: NONE;
	height: 25px;
	font-size: 20px;
}
textarea:invalid {
	border: 5px dashed red;
}
