@font-face {
    font-family: 'digital-7';
    src: url('digital-7-webfont.woff2') format('woff2'),
         url('digital-7-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

*{
    
    margin:0;
    padding:0;
}
button{
    text-align: center;
    vertical-align: center;

}
.button{
    
    background-color: rgba(255, 142, 142,0.6);
    display:flex;
    padding: 73px 75px;
    border: none;
   max-width: 80px;
   max-height: 80px;
   font-size: 73px;
   justify-content: center;
   align-items: center;

}
.button:hover{
    background-color: rgba(255, 142, 142,0.86);
}
.nbutton{
    display:flex;
    padding: 73px 75px;
    border: none;
   max-width: 80px;
   max-height: 80px;
   font-family: Digital-7;
   font-size: 86px;
   justify-content: center;
   align-items: center;
   
   
}
table{
    position: absolute;
    top:17%;
    left: 35%;
    
}
.answer{
    border:none;
}
td{
    font-family: Digital-7;
    font-size: 93px;
    text-align: center;
    width: 110px;
    max-width: 200px;
    height: 120px;
    
}
table,th,td{
    border:1px solid black;
    
}
a {
    text-decoration: none;
    color:black
    
}
nav {
    background-color:rgb(255, 142, 142) ;
    height: 60px;
    width: 100%;
    top:0px;
}
nav ul{
    float:left;
    position:absolute;
    top: 0px;
    left: 45%;
  
}

nav ul li{
    float : left;
    
    list-style: none;
    
}
nav ul li a{
    display: block;
    font-family: Arial;
    color:black;
    font-size: 14px;
    padding: 21px 14px;
    border-right:2px solid black;
    
    text-decoration: none;
}




 nav ul li a:hover{
    background-color:rgba(24, 24, 24,0.55);
   
}
  
  .show {display: block;}