@font-face {
    font-family: 'digital-7';
    src: url('digital-7-webfont.woff2') format('woff2'),
         url('digital-7-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
*{
    
    margin:0;
    padding:0;
}
button{
    text-align: center;
    vertical-align: center;
}
.button{
    padding: 73px 75px;
    border: none;
    background-color: #4CAF50;
    max-width: 80px;
    max-height: 80px;

}
.button:hover{
    background-color: hwb(122 30% 37%);
}
.nbutton{
    padding: 73px 75px;
    border: none;
   max-width: 80px;
   max-height: 80px;
   font-family: Digital-7;
   font-size: 50px;
   
   
}
table{
    position: absolute;
    top:17%;
    left: 35%;
}
.answer{
    border:none;
}
td{
    
    font-size: 93px;
    text-align: center;
    width: 110px;
    height: 120px;
}
table,th,td{
    border:1px solid black;
}
a {
    text-decoration: none;
    color:black
}
nav {
    background-color:rgb(209, 255, 253) ;
    height: 60px;
    width: 100%;
    top:0px;
}
nav ul{
    float:left;
    position:absolute;
    top: 0px;
    left: 45%;
  
}

nav ul li{
    float : left;
    
    list-style: none;
    
}
nav ul li a{
    display: block;
    font-family: arial;
    color:black;
    font-size: 14px;
    padding: 21px 14px;
    border-right:2px solid black;
    
    text-decoration: none;
}




 nav ul li a:hover{
    background-color:rgba(24, 24, 24,0.55);
   
}


 